@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        text-align: center;
        background-color: white;
    }

    header img {
        width: 120px;
        height: auto;
    }

    .d1 {
        flex-direction: column;
        padding: 10px;
    }

    .d1 img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

      header img {
        width: 10px;
        height: auto;
    }

    .d2 {
        flex-direction: column;
        padding: 10px;
    }

    .d2 img {
           width: 100%;
           max-width: 440px;
           height: 300px; 
           object-fit: cover; 
    }

      ul {
        flex-direction: column;
        gap: 20px;
        align-items: center; 
    }

    ul li {
        width: 90%;
        text-align: center;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,rgb(1, 58, 116) rgb(1, 45, 88), rgb(0, 30, 59));    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 8px rgb(222, 226, 0);
    background-color: white;
}

header img {
    flex-shrink: 0;
}

.titulo h1 {
    font-family: 'Georgia', serif;
    border: inset 4px rgb(1, 67, 134);
    text-align: center;
    color: white;
    background-color: rgb(1, 67, 134);
    padding: 15px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 67, 134, 0.7);
}

body {
     padding-top: 80px;
     color: white;
}

button {
    height: 45px;
    width: 110px;
    margin-left: 7px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(1, 67, 134), rgb(0, 128, 255));
    color: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 5px;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover {
    transform: scale(1.08);
    background-image: linear-gradient(to left, rgb(1, 67, 134), rgb(0, 128, 255));
    box-shadow: 0 0 8px rgb(1, 67, 134);
}

div {
    display: flex;
    flex-direction: row;
}

.d1 {
    border: inset 5px rgb(1, 67, 134);
    text-align: center;
    background-color:rgb(1, 67, 134);
    padding: 3px;
    margin: 3px;
    border-radius: 12px;
    gap: 20px;
    box-shadow: 0 0 10px rgba(1, 67, 134, 0.6);
}

.d1 img {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.d1 h4 {
    font-family: 'Georgia', serif;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
    padding: 5px;
   
}


strong {
    color: rgb(0, 255, 242);
}

.d2 {
    border: inset 5px rgb(1, 67, 134);
    text-align: center;
    background-color:rgb(1, 67, 134);
    padding: 3px;
    margin: 3px;
    border-radius: 12px;
    gap: 20px;
    box-shadow: 0 0 10px rgba(1, 67, 134, 0.6);
}

.d2 img {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    
}

.d2 h4 {
    font-family: 'Georgia', serif;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
    padding: 5px;
   
}

ul{
    font-family: 'Georgia', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.l1{
    border-radius: 10px;
    margin-left: 3px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(1, 58, 116);
     transition: 0.3s;
}

.l2{
    border-radius: 10px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(1, 45, 88);
     transition: 0.3s;
}

.l3{
    border-radius: 10px;
    margin-right: 3px;
    border: inset 5px rgb(1, 67, 134);
    background-color: rgb(0, 30, 59);
     transition: 0.3s;
}

.l1:hover{
    box-shadow: 0 0 8px rgb(1, 67, 134);
    transform: scale(1.01);

}

.l2:hover{
    box-shadow: 0 0 8px rgb(1, 67, 134);
    transform: scale(1.01);

}

.l3:hover{
        box-shadow: 0 0 8px rgb(1, 67, 134);
        transform: scale(1.01);

}

h5{
    border-bottom: solid 2px white;
}