@media (max-width: 600px) {
    header {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: inset 5px rgb(1, 67, 134);
    padding: 5px;
    width: 100%;
}

.titulo {
    flex-grow: 1;
    margin: 0 20px;
}

.titulo h2 {
    margin-bottom: 50px;
    margin: 0;
    font-size: 1em;
}

.botoes {
    display: flex;
    gap: 30px
}

img {
    flex-shrink: 0;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("ChatGPT Image 13 de nov. de 2025, 19_00_36.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}

h1 {
    border: inset 4px rgb(1, 67, 134);
    text-align: center;
    color: white;
    background-color: rgba(1, 67, 134, 0.377);
}



button {
    height: 50px;
    width: 50px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(dodgerblue, rgb(1, 68, 134));
    background-color: dodgerblue;
    color: white;
    transition: 0.3s;
    margin-left: 20px;
}


button:hover {
    transform: scale(1.10);
    background: linear-gradient(rgb(27, 120, 212), rgb(1, 45, 90));
}

div{
    display: flex;
    flex-direction: row;
 
}


