    @media (max-widht: 600px){
        .container{
            flex-direction: column;
        }

    }

        body{
            margin: 0;
            padding: 0;
            background-image: url("ChatGPT Image 13 de nov. de 2025, 19_00_36.png");
            background-size: cover;      
            background-position: center; 
            background-repeat: no-repeat;
            min-height: 100vh;

            display: flex;               
            flex-direction: column;      
            justify-content: center;     
            align-items: center;         
            text-align: center;          
            color: white;
        }

        header {
            background: rgba(0, 0, 0, 0.4); 
            padding: 20px;
            border: #004b99 inset 5px;
            border-radius: 12px;
            width: 100%;
            max-width: 900px;
        }

        img {
            width: 150px;
            height: 150px;
            border: inset 3px white;
            border-radius: 20px;
            margin-bottom: 15px;
        }

        h2 {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
            line-height: 1.8;
            margin-bottom: 70px;
        }

        button {
            padding: 10px 10px;
            font-size: 18px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background: linear-gradient(dodgerblue, rgb(1, 68, 134));
            background-color: dodgerblue;
            color: white;
            transition: 0.3s;
            margin: 30px 30px;
        }

        button:hover {
             transform: scale(1.10);
            background: linear-gradient(rgb(27, 120, 212), rgb(1, 45, 90));
        }






