*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4C8BF5;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    max-width: 600px;
}