
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color:#FFFAFA; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #FFFAFA; 
}

.logo img {
    height: 30px;
    width: auto;
}

.nav-bar a {
    font-weight: bold;
    font-size: 18px;
    color: #000080; 
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: #FFB90F; 
    transform: scale(1.1); /
}

.nav-bar a:focus,
.nav-bar a:active {
    outline: 2px solid #FFB90F; 
}

.icons {
    display: flex;
    gap: 12px;
}

.icon-circle {
    width: 38px;
    height: 38px;
    background-color: #000080; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.icon-circle i {
    font-size: 20px;
    color: #fff;
}

.icon-circle:hover {
    transform: scale(1.2);
    background-color: var(--color-dark-blue); 
}

.icon-circle:hover i {
    color:  #000080;
}

.capitulo {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.capitulo-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.capitulo-topo h2 {
    font-size: 26px;
    font-weight: 600;
    color:#FFB90F; 
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-btn {
    width: 40px;
    height: 40px;
    background:  #FFB90F; 
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #FFFAFA;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.nav-btn:hover {
    transform: scale(1.15);
    background: #FFFAFA; 
    color:#000080
}
.video-box {
    width: 100%;
    height: 350px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


