*{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif
}
.logo img {
    height: 60px;

}
.menu a {
    font-weight: bold;
    font-size 18px;
    text-decoration: none;
    color: #000; 
}
.icons {
    display: flex;
    gap: 12px;
}
.icon-circle {
    width: 38px;
    height: 38px;
    background-color: #5978bb;
}