@media (max-width: 600px){
    .container{
        flex-direction: column;
        background:fixed ;
    }

}
body{
 margin:0%;
 background-size: cover;      
 background-repeat: no-repeat;
 display: flex;               
 flex-direction: column;      
 color: white;
}
h1{
   color:beige;
   text-align: center;
   color:blue;
   background:rgb(65, 65, 161);
}

.videoaula{
 margin-left:10%;
 color:rgb(230, 232, 238);
 border: 2px solid rgb(255, 255, 255);
 border-radius: 8px;
 background: rgb(14, 182, 233);
 text-decoration: none;
 padding: 5px 25px 5px 25px;
}
.sobre{
 margin-left: 64% ;
 color:rgb(248, 248, 250);
 border: 2px solid rgb(255, 255, 255);
 border-radius: 8px;
 background: rgb(17, 177, 226);
 text-decoration: none;
 padding: 5px 25px 5px 25px;
 
 }
 .videoaula:hover{
    transform: scale(1.20);
    background: blue;
} 
 .sobre:hover{
    transform: scale(1.20);
    background: blue;
} 
div{
    display: flex;
    flex-direction: row;
}

footer{
    
    color:black;
    background: rgb(26, 103, 218);
}
.imagem {
    padding-left: 450px;
}


