*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#ffffff; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #FFFAFA; 
}

.logo img {
    height: 30px;
    width: auto;
}
.carousel{
    margin-top: 90px;
}

.nav-bar a {
    font-weight: bold;
    font-size: 18px;
    color: #000080; 
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: #FFB90F; 
    transform: scale(1.1); /
}

.icons {
    display: flex;
    gap: 12px;
}

.icon-circle {
    width: 38px;
    height: 38px;
    background-color: #000080; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.icon-circle i {
    font-size: 20px;
    color: #fff;
}

.icon-circle:hover {
    transform: scale(1.2);
    background-color: var(--color-dark-blue); 
}

.icon-circle:hover i {
    color:  #000080;
}
.carousel-item img{
    height: 500px; 
    object-fit: cover; 
}


@media (max-width: 500px) {
    .header {
        padding: 12px;
    }

    .logo img {
        height: 22px;
    }

    .nav-bar a {
        font-size: 14px;
    }

    .icons {
        gap: 8px;
    }

    .icon-circle {
        width: 30px;
        height: 30px;
    }

    .icon-circle i {
        font-size: 16px;
    }

    /* Empurra um pouco mais o carrossel por causa do menu mais alto no celular */
    .carousel {
        margin-top: 90px;
    }
}

