
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#ffffff; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #FFFAFA; 
}

.logo img {
    height: 30px;
    width: auto;
}

.nav-bar a {
    font-weight: bold;
    font-size: 18px;
    color: #000080; 
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: #FFB90F; 
    transform: scale(1.1); /
}

.icons {
    display: flex;
    gap: 12px;
}

.icon-circle {
    width: 38px;
    height: 38px;
    background-color: #000080; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.icon-circle i {
    font-size: 20px;
    color: #fff;
}

.icon-circle:hover {
    transform: scale(1.2);
    background-color: var(--color-dark-blue); 
}

.icon-circle:hover i {
    color:  #000080;
}

.carousel-item img {
    margin-top: 120px;
    width: 100%;
    height: 540px; /* ajuste a altura como quiser */
    object-fit: contain; /* mostra a imagem inteira */
    background-color: #fff; /* evita fundo preto */
    padding-left: 30px;
}

@media (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .logo img {
        height: 26px;
    }

    .nav-bar a {
        font-size: 15px;
        padding: 5px 6px;
    }

    .icon-circle {
        width: 32px;
        height: 32px;
    }

    .icon-circle i {
        font-size: 16px;
    }

    .carousel-item img {
        height: 360px;
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        gap: 10px;
        padding: 12px;
    }

    .nav-bar a {
        font-size: 14px;
    }

    .carousel-item img {
        height: 260px;
        margin-top: 80px; /* aumenta porque a header ficou maior */ 
        padding-right: 20px;
    }
}
