
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

body {
    background-color:#000080; 
    line-height: 1.6;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #FFFAFA; 
}

.logo img {
    height: 30px;
    width: auto;
}

.nav-bar a {
    font-weight: bold;
    font-size: 18px;
    color: #000080; 
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-bar a:hover {
    color: #FFB90F; 
    transform: scale(1.1); 
}


.icons {
    display: flex;
    gap: 12px;
}

.icon-circle {
    width: 38px;
    height: 38px;
    background-color: #000080; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.icon-circle i {
    font-size: 20px;
    color: #fff;
}

.icon-circle:hover {
    transform: scale(1.2);
    background-color: #FFFAFA; 
}

.icon-circle:hover i {
    color:  #000080;
}


.carousel-item img {
    margin-top: 120px;
    width: 100%;
    height: 540px;
    object-fit: contain;
    background-color: #fff;
}

.titulo{
    font-weight: bold;
    font-size: 25px;
    color: #000080; 
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.9s ease;
    padding-left: 55px;
    margin-top: 30px;
}

.titulo:hover{
    color: #FFB90F; 
}

.atividades ul{
    margin-top: 60px;
    padding-left: 50px;
    background-color: #FFB90F;
    border-radius: 40px;
}

.atividades li{
    margin-top: 60px;
    list-style: none;
    padding: 10px;
}

.atividades a{
    text-decoration: none;
    color:black;
    font-size: 28px;
}

.cap1 .linha1{
    color:#000080;
    font-size:30px;
    text-align: center;
    list-style-type: none;
}

.cap1 li{
    margin-top: 30px;
    font-size: 35px;
    color: black;
    padding-left: 10px;
    list-style-type: none;
}

.cap1 p{
    color:#000080;
}

.paragrafo-1{
    margin-bottom: 50px;
} 

.texto-linha{
    margin-top:15px;
}

.paragrafo-1 a{
  animation: mudarCor 5s infinite;
}

.botao-link{
    border: none;
    border-radius: 20px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #000080;
    width: 12%;
}

.botao-link p{
    margin-top: 5px;
    text-align: center;
    color: white;
}

@keyframes mudarCor {
  0% { color:white; }
  25% { color:#FFB90F; }
  50% { color:white; }
  75% { color:#FFB90F; }
  100% { color:white; }
}