*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
<<<<<<< HEAD
body{ 

=======
>>>>>>> 272929acdebaef6d08bf4c742bdc0be5a76e48a7

body{
    background-image: url(ChatGPT\ Image\ 17\ de\ nov.\ de\ 2025\,\ 10_38_22.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* coloca tudo um abaixo do outro */
    justify-content: center;
    align-items: center;
}

/*body{
    background-image: url(ChatGPT\ Image\ 17\ de\ nov.\ de\ 2025\,\ 10_38_22.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.container{
<<<<<<< HEAD
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid 
}
    background-color: #ffffff;
=======
    background-color: #fff;
>>>>>>> 272929acdebaef6d08bf4c742bdc0be5a76e48a7
    border-radius: 10px;
    max-width: 750px;
    margin: 14px;
    width: 100%;
    overflow: hidden;
}

.titulo{
    background: linear-gradient(120deg, #3474b4, #1d499c);
    padding: 20px;
    text-align: center;
    color: white;
}

.formu{
    padding: 20px;
}

.formulario{
    margin-bottom: 8px;
    padding-bottom: 18px;
    display: relative;
}

.formulario label{
    display: inline-block;
    margin-bottom: 10px;
}

.formulario input{
    display: block;
    width: 100%;
    border-radius: 14px;
    padding: 8px;
    border: 2px solid rgba(202, 198, 198, 0.479);
    transition: border-color 0.2s ease;
}

input:focus{
    outline: none;
    border-color:#1d499c;

}

button{
    background: linear-gradient(120deg, #3474b4, #1d499c);
    width: 100%;
    padding: 6px;
    color: white;
    border-radius: 14px;
    font-size: 15px;
    border: none;
    cursor:pointer;
    transition: all 0.3s ease;
}

button:hover {
        background-color: #2980b9; /* Cor ao passar o mouse */
        transform: scale(1.02);
}

.tela{
    width: 200px;
}

.tela a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

/*.erro {
    color: red;
    font-size: 14px;
}

#mensagemSucesso {
    color: green;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}/*
